appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
ChemDataExtractor==1.3.0
click==7.1.2
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.15
DAWG==0.8.0
gensim==4.0.1
idna==2.10
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.5
matplotlib==3.4.1
nltk==3.6.2
numpy==1.20.2
pandas==1.2.4
pdfminer.six==20201018
Pillow==8.3.2
pycparser==2.20
pyparsing==2.4.7
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.3
seaborn==0.11.1
six==1.15.0
smart-open==5.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
threadpoolctl==2.1.0
tqdm==4.60.0
urllib3==1.26.5
